.banner {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh71kkWbjw6B4B72OWL0iv3L8AvXLHzHnRjw&usqp=CAU)
    no-repeat center center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #FFF;
}
.crop-img{
    object-fit:cover ;
}
